@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "lexend";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: "lexend", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 26px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 4;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
}
.div6 {
  grid-area: 2 / 2 / 3 / 3;
}
